<!DOCTYPE html>

{% load static %}

<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<link rel="stylesheet" href="{% static 'Style.css' %}">

{% block title %}
{% endblock %}

</head>
<body>
<header class="navbar navbar-expand-xl navbar-light fixed-top bg-white py-5">
	<nav class="container">
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<a class="navbar-brand" href="{% url 'main_page' %}">
			<img src="{% static 'img/Vector.svg' %}" alt="[]">
			<img src="{% static 'img/SelfStorage.svg' %}" alt="SelfStorage">
		</a>
		<div class="collapse navbar-collapse justify-content-end" id="navbar">
			<ul class="navbar-nav">

{% if user.is_authenticated %}
				<li class="nav-item d-flex align-items-center me-5">
					<div class="d-flex justify-content-center align-items-center rounded-pill SelfStorage__bg_green me-2" style="height: 36px; width: 36px;">
						<svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" fill="white" class="bi bi-telephone-fill" viewBox="0 0 16 16">
							<path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
						</svg>
					</div>
					<b>8 (800) 000-00-00</b>
				</li>
{% endif %}

				<li class="nav-item me-5">
					<a class="nav-link SelfStorage_black" href="{% url 'calculator' %}">Рассчитать стоимость</a>
				</li>
				<li class="nav-item me-5">
					<a class="nav-link SelfStorage_black" href="{% url 'faq' %}">Правила хранения</a>
				</li>
				<li class="nav-item me-5">
					<a class="nav-link SelfStorage_black" href="{% url 'rent_box' %}">Арендовать бокс</a>
				</li>

{% if not user.is_authenticated %}
				<li class="nav-item me-5">
					<a class="nav-link SelfStorage_green" href="#" data-bs-toggle="modal" data-bs-target="#SignModal">Войти</a>
				</li>
{% endif %}

{% if not user.is_authenticated %}
				<li class="nav-item d-flex align-items-center">
					<div class="d-flex justify-content-center align-items-center rounded-pill SelfStorage__bg_green me-2" style="height: 36px; width: 36px;">
						<svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" fill="white" class="bi bi-telephone-fill" viewBox="0 0 16 16">
							<path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
						</svg>
					</div>
					<b>8 (800) 000-00-00</b>
				</li>
{% endif %}

{% if user.is_authenticated %}
				<li class="nav-item d-flex align-items-center me-5">
					<a href="{% url 'notifications' %}" class="me-2 mb-1">
						<svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="#F28A4F" class="bi bi-bell" viewBox="0 0 16 16">
							<path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zM8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z"/>
						</svg>
					</a>
					<a href="{% url 'account' %}" class="text-decoration-none d-flex align-items-center">
						<svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="#579586" class="bi bi-person border border-2 rounded-pill" viewBox="0 0 16 16">
							<path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
						</svg>
						<span class="SelfStorage_green">{{ customer }}</span>
					</a>
				</li>
{% endif %}

			</ul>
		</div>
	</nav>
</header>

{% if not user.is_authenticated %}
	<aside class="modal fade" id="RegModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-scrollable modal-fullscreen">
			<div class="modal-content">
				<div class="modal-header border-0">
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body d-flex justify-content-center align-items-center">
					<form class="d-flex flex-column align-items-center" style="max-width: 420px" method="POST" action="{% url 'sign_up' %}">
						{% csrf_token %}
						<h1 class="modal-title text-center fw-bold mb-3">Регистрация</h1>
						<input type="email" required name="EMAIL_CREATE" class="form-control border-8 mb-4 py-3 px-5 border-0 fs_24 SelfStorage__bg_lightgrey" placeholder="E-mail">
						<input type="password" required name="PASSWORD_CREATE" class="form-control border-8 mb-4 py-3 px-5 border-0 fs_24 SelfStorage__bg_lightgrey" placeholder="Пароль">
						<input type="password" required name="PASSWORD_CONFIRM" class="form-control border-8 mb-4 py-3 px-5 border-0 fs_24 SelfStorage__bg_lightgrey" placeholder="Подтверждение пароля">
						<span class="fw-light SelfStorage_grey">Нажимая на кнопку, вы подтверждаете свое <a href="#" class="SelfStorage_grey" data-bs-toggle="modal" data-bs-target="#AgreementModal">согласие на обработку персональных данных</a></span>
						<button class="btn border-8 py-3 px-5 mt-5 mb-3 w-100 text-white fs_24 SelfStorage__bg_orange SelfStorage__btn2_orange">Зарегистрироваться</button>
						<span>Уже зарегистрированы? <a href="#" class="SelfStorage_orange" data-bs-toggle="modal" data-bs-target="#SignModal" data-bs-dismiss="modal" aria-label="Close">Войти в личный кабинет</a></span>
					</form>
				</div>
			</div>
		</div>
	</aside>
	<aside class="modal fade" id="SignModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-scrollable modal-fullscreen">
			<div class="modal-content">
				<div class="modal-header border-0">
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body d-flex justify-content-center align-items-center">
					<form class="d-flex flex-column align-items-center" style="max-width: 420px" method="POST" action="{% url 'sign_in' %}">
						{% csrf_token %}
						<h1 class="modal-title text-center fw-bold mb-3">Вход</h1>
						<input type="email" required name="EMAIL" class="form-control  border-8 mb-4 py-3 px-5 border-0 fs_24 SelfStorage__bg_lightgrey" placeholder="E-mail">
						<input type="password" required name="PASSWORD" class="form-control  border-8 mb-4 py-3 px-5 border-0 fs_24 SelfStorage__bg_lightgrey" placeholder="Пароль">
						<a href="#" class="SelfStorage_orange" data-bs-toggle="modal" data-bs-target="#ForgetModal" data-bs-dismiss="modal" aria-label="Close">Забыли пароль?</a>
						<button class="btn border-8 py-3 px-5 mt-5 mb-3 w-100 text-white fs_24 SelfStorage__bg_orange SelfStorage__btn2_orange">Войти</button>
						<span>Нет аккаунта?  <a href="#" class="SelfStorage_orange" data-bs-toggle="modal" data-bs-target="#RegModal" data-bs-dismiss="modal" aria-label="Close">Зарегистрируйтесь на сайте</a></span>
					</form>
				</div>
			</div>
		</div>
	</aside>
	<aside class="modal fade" id="ForgetModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-scrollable modal-fullscreen">
			<div class="modal-content">
				<div class="modal-header border-0">
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body d-flex justify-content-center align-items-center">
					<form class="d-flex flex-column align-items-center" style="max-width: 420px" method="POST" action="{% url 'restore' %}">
						{% csrf_token %}
						<h1 class="modal-title text-center fw-bold mb-3">Восстановление пароля</h1>
						<input type="email" required name="EMAIL_FORGET" class="form-control  border-8 mb-4 py-3 px-5 border-0 fs_24 SelfStorage__bg_lightgrey" placeholder="E-mail">
						<button class="btn border-8 py-3 px-5 mt-5 mb-3 w-100 text-white fs_24 SelfStorage__bg_orange SelfStorage__btn2_orange">Восстановить</button>
						<span>Вспомнили пароль?  <a href="#" class="SelfStorage_orange" data-bs-toggle="modal" data-bs-target="#SignModal" data-bs-dismiss="modal" aria-label="Close">Отмена</a></span>
					</form>
				</div>
			</div>
		</div>
	</aside>
{% endif %}

<main class="container mt-header">

{% block article %}
	<article class="row">
		<div class="col-12 col-lg-6 mb-3 mb-lg-0">
			<form class="">
				<h1 class="fw-bold SelfStorage_green mb-5">Доставка и бережное хранение ваших вещей</h1>
				<h4 class="fw-lighter SelfStorage_grey mb-5">Аренда бокса на любой срок Бесплатная доставка от вашего дома </h4>
				<input type="text" required name="EMAIL1" class="form-control border-8 mb-4 py-3 px-5 border-0 fs_24 SelfStorage__bg_lightgrey" placeholder="Укажите ваш e-mail">
				<button class="btn border-8 py-3 px-5 w-100 text-white fs_24 SelfStorage__bg_orange SelfStorage__btn2_orange">Рассчитать стоимость</button>
				<span class="text-center fw-light">Нажимая на кнопку, вы подтверждаете свое <a href="#" class="link-dark" data-bs-toggle="modal" data-bs-target="#AgreementModal">согласие на обработку персональных данных</a></span>
			</form>
		</div>
		<div class="col-12 col-lg-6 SelfStorage__img"></div>
	</article>
{% endblock %}

{% block content %}
{% endblock %}

{% block customers_rewiews %}
	<article class="row pt-header">
		<h1 class="text-center fw-bold SelfStorage_green mb-4">Забота о ваших ценностях – наша главная задача</h1>
		<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
			<div class="carousel-inner border">
				<div class="carousel-item active">
					<div class="row p-5">
						<div class="col-12 col-lg-6 d-flex flex-column align-items-center justify-content-center">
							<div>
								<h4 class="fw-bold">«Теперь могу хранить вещи по-умному!»</h4>
								<p class="fs_24">Быстро собрали вещи и бесплатно доставили до ближайшего склада.</p>
								<p class="fs_24">Удобная система напоминания о том, что срок хранения подходит к концу.</p>
								<p class="fs_24">Вещи были в целостности, ничего не повредилось.</p>
								<a href="#" class="SelfStorage_green">Читать отзыв полностью</a>
							</div>
						</div>
						<div class="col-12 col-lg-6 d-flex flex-column align-items-center justify-content-center">
							<img src="{% static 'img/img1.png' %}" width="290" height="290" class="rounded-pill mb-3" alt="">
							<span class="fw-bold">Катерина Петрова</span>
							<span>Одинцово</span>
						</div>
					</div>
				</div>
				<div class="carousel-item">
					<div class="row p-5">
						<div class="col-12 col-lg-6 d-flex flex-column align-items-center justify-content-center">
							<div>
								<h4 class="fw-bold">«Больше не мучаюсь: выкидывать вещи или нет»</h4>
								<p class="fs_24">Очень тяжело было прощаться с вещами, которые были у меня с самого детства.
									На новую квартиру все никак не могло уместиться, начал ломать голову, что же делать.
									Решил попробовать арендовать бокс на полгода, такой опыт был впервые.</p>
								<a href="#" class="SelfStorage_green">Читать отзыв полностью</a>
							</div>
						</div>
						<div class="col-12 col-lg-6 d-flex flex-column align-items-center justify-content-center">
							<img src="{% static 'img/img2.png' %}" width="290" height="290"  class="rounded-pill mb-3" alt="">
							<span class="fw-bold">Николай Овсянников</span>
							<span>Люберцы</span>
						</div>
					</div>
				</div>
			</div>
			<div class="w-100 d-flex justify-content-center mt-5">
				<button data-bs-target="#carouselExampleControls" data-bs-slide="prev" class="btn rounded-pill d-flex justify-content-center align-items-center SelfStorage__bg_green" style="width: 66px; height: 66px;">
					<svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="#fff" class="bi bi-chevron-left" viewBox="0 0 16 16">
						<path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
					</svg>
				</button>
				<div style="width: 1rem"></div>
				<button data-bs-target="#carouselExampleControls" data-bs-slide="next" class="btn rounded-pill d-flex justify-content-center align-items-center SelfStorage__bg_green" style="width: 66px; height: 66px;">
					<svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="#fff" class="bi bi-chevron-right" viewBox="0 0 16 16">
						<path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
					</svg>
				</button>
			</div>
		</div>
	</article>
{% endblock %}

{% block locations0 %}
{% endblock %}

{% block locations1 %}
		<a href="#BOX" id="toBox" class="d-none"></a>
		<ul class="nav nav-pills mb-3 d-flex justify-content-between" id="boxes-links" role="tablist">

		{% for storage in storages %}

			<li class="nav-item flex-grow-1 mx-2" role="presentation">
				<a href="#BOX" class="row text-decoration-none py-3 px-4 mt-5 SelfStorage__boxlink" id="pills-{{ storage.city }}-tab" data-bs-toggle="pill" data-bs-target="#pills-{{ storage.city }}" role="tab" aria-controls="pills-{{ storage.city }}" aria-selected="true">
					<div class="col-12 col-lg-3 d-flex justify-content-center">
						<img

							{% if storage.image %}
								src="{{storage.image.url}}"
							{% else %}
								src="#"
							{% endif %}

								alt="" class="mb-3 mb-lg-0">
					</div>
					<div class="col-12 col-md-4 col-lg-3 d-flex flex-column justify-content-center">
						<h4 class="text-center">{{ storage.city }}</h4>
						<h6 class="text-center">{{ storage.address }}</h6>
					</div>
					<div class="col-12 col-md-4 col-lg-3 d-flex flex-column justify-content-center">
						<h4 class="text-center">{{ storage.free_cells_count }}  из {{ storage.cells_count }}</h4>
						<h6 class="text-center">Боксов свободно</h6>
					</div>
					<div class="col-12 col-md-4 col-lg-3 d-flex flex-column justify-content-center">
						<h4 class="text-center SelfStorage_green">от {{ storage.min_price }} ₽</h4>
						<h6 class="text-center">Рядом с метро</h6>
					</div>
				</a>
			</li>

		{% endfor %}

			<script>

				{% for storage in storages %}

					document.getElementById('pills-{{ storage.city }}-tab').addEventListener('click', () => {
						document.getElementById('toBox').click()
					})

				{% endfor %}

			</script>
	</article>

{% endblock %}

{% block boxes %}

	<article class="pt-header" id="BOX">
		<div class="tab-content" id="boxes-content">

			{% for storage in storages %}

				<div class="tab-pane fade 

				{% if forloop.counter == 1 %}

					show active

				{% endif %}

				" id="pills-{{ storage.city }}" role="tabpanel" aria-labelledby="pills-{{ storage.city }}-tab">
					<h1 class="text-center mb-4 fw-bold">{{ storage.city }}, {{ storage.address }}</h1>
					<div class="row d-flex flex-column mb-5">
						<div class="col-12 col-sm-6 col-lg-4 d-flex justify-content-between align-self-center">
							<a type="button" class="SelfStorage_orange" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="bottom" title="Контакты" data-bs-content="Список контактов">
								Контакты
							</a>
							<a type="button" class="SelfStorage_orange" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="bottom" title="Описание" data-bs-content="Текст описания">
								Описание
							</a>
							<a type="button" class="SelfStorage_orange" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="bottom" title="Проезд" data-bs-content="Описание проезда">
								Проезд
							</a>
						</div>
					</div>
					<div class="row">
						<div class="col-12 col-lg-6">
							<div id="carouselExampleControls{{ forloop.counter }}" class="carousel slide" data-bs-ride="carousel">
								<div class="carousel-inner">
									<div class="carousel-item active">
										<div class="d-flex flex-column align-items-center">
											<img 
												{% if storage.image %}
													src="{{storage.image.url}}"
												{% else %}
													src="#"
												{% endif %}
											 alt="">
										</div>
									</div>
									<div class="carousel-item">
										<div class="d-flex flex-column align-items-center">
											<img 
												{% if storage.image %}
													src="{{storage.image.url}}"
												{% else %}
													src="#"
												{% endif %}
											 alt="">
										</div>
									</div>
								</div>
								<div class="w-100 d-flex justify-content-center my-3">
									<button data-bs-target="#carouselExampleControls1" data-bs-slide="prev" class="btn rounded-pill d-flex justify-content-center align-items-center SelfStorage__bg_green" style="width: 66px; height: 66px;">
										<svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="#fff" class="bi bi-chevron-left" viewBox="0 0 16 16">
											<path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
										</svg>
									</button>
									<div style="width: 1rem"></div>
									<button data-bs-target="#carouselExampleControls1" data-bs-slide="next" class="btn rounded-pill d-flex justify-content-center align-items-center SelfStorage__bg_green" style="width: 66px; height: 66px;">
										<svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="#fff" class="bi bi-chevron-right" viewBox="0 0 16 16">
											<path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
										</svg>
									</button>
								</div>
							</div>
						</div>
						<div class="col-12 col-lg-6">
							<div class="row">
								<p class="text-center text-lg-start SelfStorage_grey">Доступ по QR</p>
								<div class="col-6 d-flex flex-column align-items-center align-items-lg-start">
									<span class="fs_30 fw-bold SelfStorage_orange">{{storage.temperature}} °С</span>
									<span class="SelfStorage_grey mb-3">Температура на складе</span>
									<span class="fs_30 fw-bold SelfStorage_orange">{{ storage.free_cells_count }}  из {{ storage.cells_count }}</span>
									<span class="SelfStorage_grey mb-3">Боксов свободно</span>
								</div>
								<div class="col-6 d-flex flex-column align-items-center align-items-lg-start">
									<span class="fs_30 fw-bold SelfStorage_orange">до {{storage.height_round}} м</span>
									<span class="SelfStorage_grey mb-3">Высота потолка</span>
									<span class="fs_30 fw-bold SelfStorage_orange">от {{storage.min_price}} ₽</span>
									<span class="SelfStorage_grey mb-3">Оплата за месяц</span>
								</div>
								<div class="d-flex flex-column align-items-center align-items-lg-start">
									<a href="#pills-tab" role="button" class="btn w-75 fs_24 px-5 py-3 text-white border-8 SelfStorage__bg_green SelfStorage__btn2_green mb-3">Арендовать бокс</a>
									<button class="btn w-75 fs_24 px-5 py-3 text-white border-8 SelfStorage__bg_orange SelfStorage__btn2_orange">Позвонить мне</button>
								</div>
								<a href="#" class="text-center text-lg-start mt-4 SelfStorage_orange">Нужна помощь?</a>
							</div>
						</div>
					</div>
				</div>

			{% endfor %}

		</div>
		<form class="row mt-5 d-none">
			<div class="col-6 col-lg-3">
				<input type="radio" name="BOXES_FILTER" id="ALL_BOXES" class="SelfStorage_radio d-none" checked>
				<label for="ALL_BOXES" class="btn my-2 w-100 fs_24">Все боксы</label>
			</div>
			<div class="col-6 col-lg-3">
				<input type="radio" name="BOXES_FILTER" id="to3m" class="SelfStorage_radio d-none">
				<label for="to3m" class="btn my-2 w-100 fs_24">До 3 м²</label>
			</div>
			<div class="col-6 col-lg-3">
				<input type="radio" name="BOXES_FILTER" id="to10m" class="SelfStorage_radio d-none">
				<label for="to10m" class="btn my-2 w-100 fs_24">До 10 м²</label>
			</div>
			<div class="col-6 col-lg-3">
				<input type="radio" name="BOXES_FILTER" id="From10m" class="SelfStorage_radio d-none">
				<label for="From10m" class="btn my-2 w-100 fs_24">От 10 м²</label>
			</div>
		</form>
		<ul class="nav nav-pills pt-header d-flex justify-content-between" id="pills-tab" role="tablist">
			<li class="nav-item flex-grow-1 mx-2" role="presentation">
				<button class="btn my-2 w-100 fs_24 SelfStorage__tab active" id="pills-all-tab" data-bs-toggle="pill" data-bs-target="#pills-all" type="button" role="tab" aria-controls="pills-all" aria-selected="true">Все боксы</button>
			</li>
			<li class="nav-item flex-grow-1 mx-2" role="presentation">
				<button class="btn my-2 w-100 fs_24 SelfStorage__tab" id="pills-to3-tab" data-bs-toggle="pill" data-bs-target="#pills-to3" type="button" role="tab" aria-controls="pills-to3" aria-selected="false">До 3 м²</button>
			</li>
			<li class="nav-item flex-grow-1 mx-2" role="presentation">
				<button class="btn my-2 w-100 fs_24 SelfStorage__tab" id="pills-to10-tab" data-bs-toggle="pill" data-bs-target="#pills-to10" type="button" role="tab" aria-controls="pills-to10" aria-selected="false">До 10 м²</button>
			</li>
			<li class="nav-item flex-grow-1 mx-2" role="presentation">
				<button class="btn my-2 w-100 fs_24 SelfStorage__tab" id="pills-from10-tab" data-bs-toggle="pill" data-bs-target="#pills-from10" type="button" role="tab" aria-controls="pills-from10" aria-selected="false">От 10 м²</button>
			</li>
		</ul>
		<div class="tab-content" id="pills-tabContent">

			{% for payload in cells_payload %}

				<div class="tab-pane fade

					{% if forloop.counter == 1 %}

						show active

					{% endif %}

				" id="pills-{{ payload.cell_size }}" role="tabpanel" aria-labelledby="pills-home-tab">

					{% for cell in payload.cells %}

						{% if forloop.counter == 1 %}

							<form method="post" action="{% url 'make_order' %}">
								{% csrf_token %}
								<input type="hidden" name="cell_id" value="{{ cell.id }}">
								<a href="#" class="row text-decoration-none py-3 px-4 mt-5 SelfStorage__boxlink">
									<div class="col-12 col-md-4 col-lg-3 d-flex justify-content-center align-items-center">
										<span class="SelfStorage_green fs_24 me-2">{{ cell.level }} эт.</span><span class="fs_24">№{{ cell.cell_number }}</span>
									</div>
									<div class="col-6 col-md-4 col-lg-3 d-flex justify-content-center align-items-center">
										<span class="fs_24">{{ cell.square }} м²</span>
									</div>
									<div class="col-6 col-md-4 col-lg-3 d-flex justify-content-center align-items-center">
										<span class="fs_24">{{ cell.length_round }} х {{ cell.width_round }} х {{ cell.height_round }} м</span>
									</div>
									<div class="col-12 col-lg-3">
										<button class="btn my-2 w-100 text-white fs_24 SelfStorage__bg_orange SelfStorage__btn2_orange border-8">От {{ cell.price_round }} ₽</button>
									</div>
								</a>
							</form>

						{% endif %}

					{% endfor %}

					<div class="collapse" id="collapse-{{ payload.cell_size }}">

						{% for cell in payload.cells|slice:"1:" %}

							<form method="post" action="{% url 'make_order' %}">
								{% csrf_token %}
								<input type="hidden" name="cell_id" value="{{ cell.id }}">
								<a href="#" class="row text-decoration-none py-3 px-4 mt-5 SelfStorage__boxlink">
									<div class="col-12 col-md-4 col-lg-3 d-flex justify-content-center align-items-center">
										<span class="SelfStorage_green fs_24 me-2">{{ cell.level }} эт.</span><span class="fs_24">№{{ cell.cell_number }}</span>
									</div>
									<div class="col-6 col-md-4 col-lg-3 d-flex justify-content-center align-items-center">
										<span class="fs_24">{{ cell.square }} м²</span>
									</div>
									<div class="col-6 col-md-4 col-lg-3 d-flex justify-content-center align-items-center">
										<span class="fs_24">{{ cell.length_round }} х {{ cell.width_round }} х {{ cell.height_round }} м</span>
									</div>
									<div class="col-12 col-lg-3">
										<button class="btn my-2 w-100 text-white fs_24 SelfStorage__bg_orange SelfStorage__btn2_orange border-8">От {{ cell.price_round }} ₽</button>
									</div>
								</a>
							</form>

						{% endfor %}

					</div>
					<div class="d-flex justify-content-center mt-5">
						<button class="btn w-auto py-3 px-5 SelfStorage__bg_orange SelfStorage__btn2_orange text-white text-center fs_24 border-8" id="btn-collapse-{{ payload.cell_size }}" data-bs-toggle="collapse" data-bs-target="#collapse-{{ payload.cell_size }}" aria-expanded="false" aria-controls="collapse-{{ payload.cell_size }}">Другие боксы</button>
						<script>
							document.getElementById('btn-collapse-{{ payload.cell_size }}').addEventListener('click', () => document.getElementById('btn-collapse-{{ payload.cell_size }}').classList.add('d-none'))
						</script>
					</div>
				</div>

			{% endfor %}

		</div>
	</article>
{% endblock %}

</main>

{% block bid %}
	<aside class="py-5 mt-header SelfStorage__bg_green">
		<div class="container py-5Арендовать бокс">
			<div class="d-flex flex-column align-items-center">
				<h1 class="text-white text-center fw-bold mb-4">Остались вопросы?</h1>
				<h4 class="text-white text-center fw-light">Оставьте заявку и наши менеджеры свяжутся с вами в ближайшее время</h4>
				<form class="row my-4">
					<div class="col-12 col-lg-6">
						<input type="text" required name="EMAIL2" class="form-control border-8 mb-4 me-3 py-3 px-5 border-0 fs_24 SelfStorage__bg_lightgrey" placeholder="Укажите ваш e-mail">
					</div>
					<div class="col-12 col-lg-6">
						<button class="btn w-100 border-8 py-3 px-5 text-white fs_24 SelfStorage__bg_orange SelfStorage__btn2_orange">Рассчитать стоимость</button>
					</div>
				</form>
				<span class="text-white text-center fw-light">Нажимая на кнопку, вы подтверждаете свое <a href="#" class="text-white" data-bs-toggle="modal" data-bs-target="#AgreementModal">согласие на обработку персональных данных</a></span>
			</div>
		</div>
	</aside>
{% endblock %}

{% block promo %}
	<aside class="py-5 mt-header SelfStorage__bg_green">
		<div class="container py-5Арендовать бокс">
			<div class="d-flex flex-column align-items-center">
				<h1 class="text-white text-center fw-bold mb-4">Арендуйте свой первый бокс прямо сейчас и получите скидку 15% до конца апреля</h1>
				<h4 class="text-white text-center fw-light">Акция распространяется только на новых пользователей сервиса SelfStorage</h4>
				<form class="row my-4">
					<div class="col-12 col-lg-6">
						<input type="text" required name="EMAIL2" class="form-control border-8 mb-4 me-3 py-3 px-5 border-0 fs_24 SelfStorage__bg_lightgrey" placeholder="Укажите ваш e-mail">
					</div>
					<div class="col-12 col-lg-6">
						<button class="btn w-100 border-8 py-3 px-5 text-white fs_24 SelfStorage__bg_orange SelfStorage__btn2_orange">Рассчитать стоимость</button>
					</div>
				</form>
				<span class="text-white text-center fw-light">Нажимая на кнопку, вы подтверждаете свое <a href="#" class="text-white" data-bs-toggle="modal" data-bs-target="#AgreementModal">согласие на обработку персональных данных</a></span>
			</div>
		</div>
	</aside>
{% endblock %}

<footer class="container py-5">
	<div class="row mb-5">
		<div class="col-6 col-md-4 d-flex flex-column mb-3">
			<a href="{% url 'main_page' %}" class="navbar-brand">
				<img src="{% static 'img/Vector.svg' %}" alt="[]">
				<img src="{% static 'img/SelfStorage.svg' %}" alt="SelfStorage">
			</a>
			<span class="SelfStorage_green">Ежедневно: 9.00 - 21.00</span>

		</div>
		<div class="col-6 col-md-4 d-flex flex-column mb-3">
			<span class="fs_24 fw-bold SelfStorage_green">8 (800) 000-00-00</span>
			<span class="SelfStorage_green">info@selfstorage.ru</span>
		</div>
		<div class="col-6 col-md-4">
			<div class="">
				<a href="https://vk.com/devmanorg"><img src="{% static 'img/VK_Compact_Logo1.svg' %}" alt=""></a>
				<a href="#" class="text-decoration-none">
					<svg xmlns="http://www.w3.org/2000/svg" width="53" height="53" fill="currentColor" class="bi bi-telegram" viewBox="0 0 16 16">
						<path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.287 5.906c-.778.324-2.334.994-4.666 2.01-.378.15-.577.298-.595.442-.03.243.275.339.69.47l.175.055c.408.133.958.288 1.243.294.26.006.549-.1.868-.32 2.179-1.471 3.304-2.214 3.374-2.23.05-.012.12-.026.166.016.047.041.042.12.037.141-.03.129-1.227 1.241-1.846 1.817-.193.18-.33.307-.358.336a8.154 8.154 0 0 1-.188.186c-.38.366-.664.64.015 1.088.327.216.589.393.85.571.284.194.568.387.936.629.093.06.183.125.27.187.331.236.63.448.997.414.214-.02.435-.22.547-.82.265-1.417.786-4.486.906-5.751a1.426 1.426 0 0 0-.013-.315.337.337 0 0 0-.114-.217.526.526 0 0 0-.31-.093c-.3.005-.763.166-2.984 1.09z"/>
					</svg>
				</a>
				<a href="#"><img src="{% static 'img/whatsapp.svg' %}" alt=""></a>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-6 col-md-4 d-flex flex-column">
			<p><a href="{% url 'tariffs' %}" class="link-dark text-decoration-none">Тарифы</a></p>
			<p><a href="{% url 'calculator' %}" class="link-dark text-decoration-none">Рассчитать стоимость</a></p>
			<p><a href="{% url 'rent_box' %}" class="link-dark text-decoration-none">Арендовать бокс</a></p>
		</div>
		<div class="col-6 col-md-4 d-flex flex-column">
			<p><a href="{% url 'faq' %}" class="link-dark text-decoration-none">Правила хранения</a></p>
			<p><a href="{% url 'locations' %}" class="link-dark text-decoration-none">Адреса складов</a></p>
			<p><a href="{% url 'customers_reviews' %}" class="link-dark text-decoration-none">Отзывы</a></p>
		</div>
		<div class="col-6 col-md-4 d-flex flex-column">
			<p><a href="{% url 'privacy_policy' %}" class="link-dark text-decoration-none">Политика конфиденциальности</a></p>
			<p><a href="{% url 'documents' %}" class="link-dark text-decoration-none">Правовые документы</a></p>
			<p><a href="{% url 'contacts' %}" class="link-dark text-decoration-none" data-bs-toggle="modal" data-bs-target="#ContactsModal">Контакты</a></p>
		</div>
		<h6 class="SelfStorage_grey text-center mt-5">© 2022 SelfStorage. Использование материалов запрещено без письменного согласия</h6>
	</div>
	<aside class="modal fade" id="ContactsModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-scrollable modal-fullscreen">
			<div class="modal-content">
				<div class="modal-header border-0">
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body d-flex justify-content-center align-items-center">
					<form class="d-flex flex-column align-items-center" style="max-width: 420px">
						<h1 class="modal-title text-center fw-bold mb-3">Контакты</h1>
						<span class="fw-light SelfStorage_grey"></span>
						<span class="fw-light SelfStorage_grey"></span>
						<span class="fw-light SelfStorage_grey"></span>
						<span class="fw-light SelfStorage_grey"></span>
						<button type="button" class="btn border-8 py-3 px-5 mt-5 mb-3 w-100 text-white fs_24 SelfStorage__bg_orange SelfStorage__btn2_orange" data-bs-dismiss="modal">Назад</button>
					</form>
				</div>
			</div>
		</div>
	</aside>
	<aside class="modal fade" id="AgreementModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-scrollable modal-fullscreen">
			<div class="modal-content">
				<div class="modal-header border-0">
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body d-flex justify-content-center align-items-center">
					<form class="d-flex flex-column align-items-center" style="max-width: 420px">
						<span class="fw-light SelfStorage_grey">Согласие на обработку персональных данных.</span>
						<span class="fw-light SelfStorage_grey">Я, [ФИО], даю свое согласие на обработку моих персональных данных в соответствии с Федеральным законом от 27.07.2006 г. №152-ФЗ "О персональных данных", а именно: сбор, систематизацию, накопление, хранение, уточнение (обновление, изменение), использование, распространение (в том числе передачу третьим лицам, если это необходимо для оказания услуг), обезличивание, блокирование, уничтожение.</span>
						<span class="fw-light SelfStorage_grey">Персональные данные будут обрабатываться в целях [указать цели обработки данных], в том числе для [указать дополнительные цели обработки данных, если это необходимо].</span>
						<span class="fw-light SelfStorage_grey">Я даю свое согласие на обработку следующих моих персональных данных: [указать перечень персональных данных, которые будут обрабатываться].</span>
						<span class="fw-light SelfStorage_grey">Я подтверждаю, что ознакомлен(а) с условиями обработки моих персональных данных, а также с моими правами в соответствии с Федеральным законом от 27.07.2006 г. №152-ФЗ "О персональных данных".</span>
						<span class="fw-light SelfStorage_grey">Настоящее согласие действует до момента моего отзыва его в письменной форме.</span>
						<button type="button" class="btn border-8 py-3 px-5 mt-5 mb-3 w-100 text-white fs_24 SelfStorage__bg_orange SelfStorage__btn2_orange" data-bs-dismiss="modal">Подтверждаю</button>
					</form>
				</div>
			</div>
		</div>
	</aside>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>
