<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
	{% block title %}
	<title>Склады</title>
	{% endblock %}
{% block article %}
{% endblock %}
{% block content %}
{% endblock %}
{% block customers_rewiews %}
{% endblock %}
{% block locations0 %}
	<article class="mt-header">
		<h1 class="text-center fw-bold SelfStorage_green mb-5">Адреса наших складов</h1>
		<h6 class="text-center SelfStorage_grey">Арендуйте склад индивидуального хранения по уникальной цене прямо сейчас</h6>
{% endblock %}
{% block boxes %}
{% endblock %}
{% block bid %}
{% endblock %}
