<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% load media_tags %}
	{% block title %}
	<title>QR</title>
	{% endblock %}
{% block article %}
{% endblock %}
{% block content %}

	{% if qrcode %}
		<div class="col-12 col-sm-5 d-flex flex-column align-items-center">
			<img src="{% media qrcode %}" class="rounded-pill mb-3" alt="">
			<h2>{{ qrcode }}</h2>
		</div>
	{% elif error %}
		<h1>{{ error }}</h1>
	{% endif %}

{% endblock %}
{% block customers_rewiews %}
{% endblock %}
{% block locations0 %}
{% endblock %}
{% block locations1 %}
{% endblock %}
{% block boxes %}
{% endblock %}
{% block bid %}
{% endblock %}
{% block promo %}
{% endblock %}
