<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
	{% block title %}
	<title>QR</title>
	{% endblock %}
{% block article %}
{% endblock %}
{% block content %}
	<div class="col-12 col-sm-5 d-flex flex-column align-items-center">
		<img src="{% static qrcode %}" class="rounded-pill mb-3" alt="">
		<h2>QR-code</h2>
	</div>
{% endblock %}
{% block customers_rewiews %}
{% endblock %}
{% block locations0 %}
{% endblock %}
{% block locations1 %}
{% endblock %}
{% block boxes %}
{% endblock %}
{% block tariffs %}
{% endblock %}
{% block bid %}
{% endblock %}
{% block promo %}
{% endblock %}
