<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
	{% block title %}
	<title>Регистрация</title>
	{% endblock %}
{% block article %}
{% endblock %}
{% block content %}
	{% if 'error' %}
		<h1>{{ error }}</h1>
	{% endif %}

	<script>
	  document.addEventListener('DOMContentLoaded', function() {
	    var myModalEl = document.getElementById('RegModal');
	    var modal = new bootstrap.Modal(myModalEl, {
	      keyboard: false
	    });
	    modal.show();
	  });
	</script>
	
{% endblock %}
{% block customers_rewiews %}
{% endblock %}
{% block locations0 %}
{% endblock %}
{% block locations1 %}
{% endblock %}
{% block boxes %}
{% endblock %}
{% block bid %}
{% endblock %}
{% block promo %}
{% endblock %}
